<mat-card class="login-page">
  <mat-card-title>Login (Reactive)</mat-card-title>
  <mat-card-content>

    <form class="login-form data-form" [formGroup]="form">

      <mat-form-field>

        <input matInput type="email" name="email"
          placeholder="Email" formControlName="email">
          <mat-error *ngIf="email.errors?.required">The Email is mandatory</mat-error>
          <mat-error *ngIf="email.errors?.minlength">The Email must have {{ email.errors?.minlength.requiredLength }} minimum size</mat-error>
          <mat-error *ngIf="email.errors?.email">The Email is not valid</mat-error>
      </mat-form-field>

      <mat-form-field>

        <input matInput type="password" placeholder="Password"
          formControlName="password">
          <mat-error *ngIf="password.errors?.required">The password is mandatory</mat-error>
      </mat-form-field>
      <ng-container 
          *ngIf="password.errors | onlyOneError:['minlength','passwordStrength'] as error">
        <div class="field-message" *ngIf="error.minlength">The password must have {{ error?.minlength.requiredLength }} minimum size</div>
        <div class="field-message" *ngIf="error.passwordStrength">The password is not strong enough</div>
      </ng-container>

      <button mat-raised-button color="primary" [disabled]="!form.valid">Login</button>
      <button mat-raised-button (click)="reset()">Reset</button>

    </form>
    <div class="form-val">{{ form.value | json }}</div>
  </mat-card-content>
</mat-card>
